{
	"networkDefaults": {
		"nick": ["Doodlebot"],
		"user": "doodlebot doodlebot doodlebot :Doodlebot",
		"pass": {
			"source": "file",
			"filename": "pass.txt"
		},
		"commandChar": "!",
		"logFile": "~/logs/$NETWORK/$CHANNEL.log",
		"logFormat": "irssi"
	},
	"networks": {
		"Freenode": {
			"servers": ["chat.freenode.net:6667"],
			"channels": ["#doodletest"]
		}
	}
}
